

h1{
    color: #00f;
}
h1{
    color:red;
    text-align:center;
}
h2{
    color:blue;
    font-style:arabic;
    text-align: center;
}
p{
    font-family:uppercase;  
}
ol{
    line-height: 30px
}
h2{
text-emphasis: bold;
    }
    p{
      font-style: inherit;
    }
h1{
    color:rebeccapurple;
    text-align:center;
 }
 p{
    text-align:center;  
 }
 h2{
    color:blue;
    font-style:arabic;
    text-align: left;
 }